@font-face {
  font-family: "Bold";
  src: local("Bold"), url("Bold.ttf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Bold";
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

#error {
  position: relative;
  top: -5px;
  color: red;
  font-size: 14px;

  width: max-content;
  margin: 0 auto;
  padding: 0 5px 3px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid red;
  line-height: 1.2;
  opacity: 0;
  transition: 0.2s;

}
#error.active{
  opacity: 1;

}

.container {
  width: 95%;
  margin: auto;
}

.image_btn{
  width: 55%;
  margin: 0 auto;
}


/* hero */

.hero{
  background: #F0F0F1;
  text-align: center;
}

.hero ul{
  width: max-content;
  margin: 0 auto;
}
.hero ul li{
  font-size: 5vw;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.35;
  margin-bottom: 12px;
  color: #131416;
  padding: 0 5px;
  position: relative;
}
.hero ul li::after,
.hero ul li::before{
  content: '';
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  height: 80%;
  width: 5px;
  background: #DC0C12;
}
.hero ul li::after{
  left: -5px;
}
.hero ul li::before{
  right: -5px;
}
.hero ul li.bg_red{
 color: #DC0C12;
}


.hero ul li:last-child{
  margin-bottom: 5px;
}

.hero ul li.bg_red::after,
.hero ul li.bg_red::before{
  background: #131416;
}



/* resuls */ 

.result{
  background: #2D2E2E;
  color: #fff;
  text-align: center;
}

.result h2{
  font-size: 12vw;
  line-height: 1.3;
  margin-bottom: 10px;
}
.result h3{
  background: linear-gradient(to left , #B72125 ,#EC292F );
  font-size: 5vw;
  margin-bottom: 10px;
}
.result h6{
  background: linear-gradient(to right , #B72125 ,#EC292F );
  font-size: 5vw;
  margin-bottom: 20px;
}
.result h4{
  font-size: 5vw;
  margin-bottom: 10px;
}


.result .boxs{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 20px;
}

.result .box img{
  width: 12vw;
}
.result .box h5{
  font-size: 4.3vw;
  color: #e3e3e3;
  margin-top: -10px;
}
.result .box p{
  font-size: 3.5vw;
  line-height: 1.4;
  color: #cccccc;
}



.doctor{
  background: url(../img/bg_doctor.png);
  background-size: cover;
  background-position: center;
}


.doctor .top_image{
  position: relative;
}
.doctor .top_image .text{
  position: absolute;
  right: 5%;
  top: 5%;
}
.doctor .top_image .text h4{
  font-size: 6.7vw;
  line-height: 1.5;
  color: #DD0D13;
}
.doctor .top_image .text h3{
  font-size: 6.7vw;
  color: #DD0D13;
  line-height: 1.5;
}
.doctor .content .boxs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}
.doctor .content .boxs .box{
  border: 1px solid #DD0D13;
  color: #DD0D13;
  padding: 2px 7px;
  margin-bottom: 25px;
  border-radius: 20px 0 20px 0;
  font-size: 3.7vw;
  width: max-content;
  line-height: 1.5;
  
}
.doctor .content .boxs .box.border_x{
  border-radius: 0 20px 0 20px;
}

.doctor .image_btn{
  margin-top: -10px;
  position: relative;
  z-index: 10;
}
.doctor .line_div{
 position: relative;
}
.doctor .line_div::after{
  position: absolute;
  content: '';
  top: 45%;
  left: 0%;
  width: 100%;
  height: 1px;
  background: #DD0D13;
  z-index: 1;

}


/* how_work */


.how_work{
  background-color: #1E1F20;
  background-image: url(../img/bg_btm_wrok.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.how_work .top_Sec{
  position: relative;
}
.how_work .top_Sec .text{
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.how_work .top_Sec h3{
  color: #fff;
  font-size: 6vw;
  line-height: 1.4;
}
.how_work .top_Sec p{
  color: #fff;
  font-size: 6vw;
  line-height: 1.4;
}


.how_work .btm_work p{
  color: #fff;
  font-size: 4.6vw;
  margin-bottom: 12px;
}
.how_work .btm_work .sm_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.how_work .btm_work .sm_div img{
  width: 9vw;
}
.how_work .btm_work .sm_div h5{
  color: #fff;
  font-size: 2.8vw;
  line-height: 1.5;
}


/* last section */
.last_sec *{
  font-family: "Bold",sans-serif;

}
.last_sec{
  background: #CC2127;
}


.last_sec .div_pc{
  background: #2F3031;
}

.last_sec .div_form {
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 10px;
}

.last_sec .div_form .flex_price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

}
.last_sec .div_form .text_price_img{
  width: 55%;
  position: relative;
  right: 3%;
  padding-bottom: 5vw;
  top: 8px;
  
}

.last_sec .secret{
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.last_sec .secret img{
  width: 10vw;
}
.last_sec .secret h3{
  color: #fff;
  font-size: 4.1vw;
  line-height: 1.2;
}

.last_sec .div_form .flex_price .img_productt{
  width: 41%;
  position: absolute;
  top: 2vw;
  left: 0;
}

.last_sec .delv_text{
  padding: 5px 0 10px;
  position: relative;
  margin-bottom: 5px;
}

.last_sec .delv_text p{
  color: #fff;
  text-align: center;
  font-size: 6.5vw;
  line-height: 1.6;
}
.last_sec .delv_text p.bg_red{
  background: #fff;
  color: #000;
  padding: 2px 5px;
  width: max-content;
  margin: auto;
}



.last_sec .sm-p {
  font-size: 2.4vw;
  text-align: center;
  width: 95%;
  margin: auto;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  margin-top: 0px;
}



.last_sec .div_form form {
  background: #D4595F;
  box-shadow: 5px 5px 8px #00000027;
  text-align: center;
  width: 95%;
  margin: 3px auto 0;
  border-radius: 20px;
  overflow: hidden;
}
.last_sec .div_form .content{
  padding: 12px 0;
}
.last_sec .div_form .content p {
  font-size: 5vw;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
}


.last_sec .div_form form input {
  width: 95%;
  padding: 15px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 8px #00000031;
  outline: none;
  margin-bottom: 12px;
  text-align: right;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid transparent;

}

.last_sec .div_form form input:focus {
  border: 1px solid #855AA5;
}

.last_sec form .div-btn {
  padding: 0 0 15px;
}

.last_sec form .div-btn .btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(to left , #B62125 ,#EC292F );
  color: #fff;
  font-size: 6.5vw;
  font-weight: bolder;
  padding: 1px 38px;
  border-radius: 20px;
}

.last_sec .footer .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
}


.last_sec .footer .boxs .box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 33.3%;
  position: relative;;
}


.last_sec .footer .boxs .box img{
  height: 22px;
  width: auto;
}
.last_sec .footer .boxs .box .img2{
  height: 20px;
}
.last_sec .footer .boxs .box p{
  font-size: 2.2vw;
  line-height: 1.5;
  color: #fff;
}


@media (min-width:600px) {

  .div-btn .btn{
    width: max-content;
    font-size: 25px;
  }



  .hero ul li{
    font-size: 22px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 3px 12px;

  }
  .image_btn{
    width: 250px;
    margin-top: 15px;
  }




  .how_work .top_Sec h3{
    font-size: 30px;
    margin-bottom: 15px;
  }
  .how_work .top_Sec .text{
    padding-top: 30px;
  }

  .how_work .btm_work p{
    font-size: 3vw;
  }










  .last_sec .secret h3{
    font-size: 22px;
  }

.last_sec .delv_text p{
  font-size: 35px;
}

  .last_sec .div_form .flex_price .img_productt{
    width: 250px;
  }
  .last_sec .div_form .text_price_img{
    width: 320px;
  }
  .last_sec .div_form .flex_price{
    justify-content: space-between;
  }

  .last_sec .div_form .content p{
    font-size: 20px;
  }
  .last_sec .div_form form{
    width: 70%;
  }
  .last_sec .sm-p{
    font-size: 15px;
  }
  .last_sec form .div-btn .btn{
    font-size: 25px;

  }


  .last_sec form .div-btn{
    width: 50%;
    margin-inline: auto;
  }


  .last_sec .div_form form input{
    width: 80%;
  }

  .last_sec .footer .boxs{
    width: 80%;
  }

}

@media (min-width:710px) {
  .last_sec .div_form .text_price_img {
    margin-right: 90px;
    
  }
}

@media (min-width:1000px) {


  .flex_Sec{
    display: flex;
  }
  .how_work{
    width: 50%;
  }
  .hero{
    width: 50%;
  }



  .how_work .top_Sec .text{
    padding-top: 0;
  }
  .how_work .top_Sec h3{
    font-size: 25px;
  }
  .how_work .btm_work p{
    font-size: 18px;
    margin-bottom: 10px;
  }




  .last_sec .div_form .content p{
    margin-bottom: 10px;
  }
  .last_sec .div_form form{
    padding: 30px 0px;
  }

  .last_sec .secret img{
    width: 60px;
  }
  .last_sec .secret h3{
    font-size: 20px;
  }
  .last_sec .div_form .text_price_img{
    margin-bottom: 20px;
  }


  .last_sec{
    width: 100%;

  }
  .last_sec .delv_text p{
    font-size: 30px;
  }


  .last_sec .delv_text::after{
    display: none;
  }
  .last_sec .div_form .text_price_img{
    padding-bottom: 0;
  }

  .last_sec .div_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .last_sec .div_form .div_flex{
    width: 45%;
  }

  .last_sec form .div-btn .btn{
    width: max-content;
    padding-inline: 30px;
  }

  .last_sec .sm-p{
    font-size: 1vw;
    margin-bottom: 10px;
  }
  .last_sec .footer .boxs .box p{
    font-size: 14px;
    line-height: 1.4;
  }


  .last_sec .div_form form input{
    margin-bottom: 25px;
  }

  .last_sec .div_form .text_price_img{
    margin-right: 0;
    width: 240px;
  }

  .last_sec .div_form form{
    width: 90%;
  }

  .last_sec .div_pc{
    width: 50%;
  }


  .last_sec .div_form .flex_price .img_productt{
    width: 180px;
    top:2vw;
  }








  .footer{
    width: 100%;
    margin: auto;
  }
  .last_sec .footer .boxs{
    justify-content: center;
    gap: 100px;
  }
  .last_sec .footer .boxs .box{
    background: #fff;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
  }
  .last_sec .footer .boxs .box p{
    font-size: 18px;
  }
  .last_sec .footer .boxs .box img{
    height: 30px;
  }
}

@media (min-width:1300px) {

  .hero .top_image{
    width: 70%;
    margin: 0 auto;
  }
  .hero ul li{
    margin-bottom: 10px;
  }

  .last_sec .div_form form{
    width: 500px;
  }

  .last_sec .div_form .flex_price .img_productt{
    width: 210px;
    margin-left: 60px;
  }


  .last_sec .div_form .flex_price .img_productt{
    top: 10px;
  }
  .last_sec .delv_text{
    margin-top: 30px;
  }
  .last_sec .div_form .content p{
    font-size: 22px;
  }

}



/* Thanks Page */
body.thanks_page_page{
  background: url(../img/thanks.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.thanks_page{
  text-align: center;

  padding-top: 30px;
}

.thanks_page h3{
  font-size: 22px;
  margin: 0;
  color: #fff;
}
.thanks_page p{
  font-size: 14px;
  margin-bottom: 15px;
  color: #fff;
}
.thanks_page a{
  display: block;
  padding: 5px 30px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(to left , #B62125 ,#EC292F );
  width: max-content;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.thanks_page .text img{
  width: 70px;
}
@media (min-width:1000px) {
  .thanks_page p{
    font-size: 18px;
    margin-bottom: 25px;
  }
  .thanks_page h3{
    font-size: 25px;
    margin: 00px 0 8px;
  }
  .thanks_page .text img{
    width: 100px;
  }
}

@media (min-width:500px) {
  body.thanks_page_page{
    background: #0F0F0F;
    min-height: 100vh;
  }
}
